*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

header{
    width:100%;
    height:75px;
    background-color: white;
    display:grid;
    grid-template-columns: 200px 200px 200px 200px 200px 200px;
    align-content: center;
    justify-content: center;
    border-bottom:2px solid #afd3ff;
    text-align: center;
}

header a{
    width:200px;
    height:200px;
    text-decoration: none;
}

.area{
    height:100px;
}

.avatar_user{
    width:350px;
    height:400px;
    margin: 0 auto;
}

.avatar_user img{
    width:290px;
    height:250px;
}


form h1{
    display: grid;
    justify-content: center;
}

.form div{
    width:330px;
    height:30px;
}

.form{
    width:500px;
    height:750px;
    margin:0 auto;
    display: grid;
    grid-template-columns: auto;
    /*align-content: center;*/
    justify-content: center;
    grid-gap: 10px;
    align-content: center;
    border-top:2px solid #afd3ff ;
    border-bottom: 2px solid #afd3ff;
    border-radius: 10%;
}

.form_update{
    width:500px;
    height:750px;
    margin:0 auto;
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    grid-gap: 10px;
    align-content: center;
    border-top:2px solid #afd3ff ;
    border-bottom: 2px solid #afd3ff;
    border-radius: 10%;
}

.form_login div{
    width:330px;
    height:30px;
}

.form_login{
    width:500px;
    height:400px;
    margin:0 auto;
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    grid-gap: 10px;
    border-radius: 10%;
    align-content: center;
    border-top:2px solid #afd3ff ;
    border-bottom: 2px solid #afd3ff;
}

form input{
    width:350px;
    height:45px;
    border-radius:5px;
    border:none;
    border-bottom: 2px solid #afd3ff;

}

form button{
    width:350px;
    height:40px;
    border:none;
    background-color: #4e858d;
    transition: 0.4s;
    font-size: 20px;
    font-weight:bold;
    color:white;
    letter-spacing:2px;
}

form button:hover{
    background-color: #d5ebf2;
    color: #b5b5b5;
    border:2px solid #9daba7;
    cursor:pointer;
    letter-spacing:4px;
    font-size:22px;

}

.all{
    width:90%;
    display:grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-content: center;
    grid-gap:25px;
    margin: 0 auto;
}
.all a{
    width:350px;
    height:350px;
    display:grid;
    justify-content: center;
    grid-gap: 10px;
    align-content: center;
    border: 2px solid #afd3ff;
    border-radius:10%;
    text-decoration: none;
    transition: 0.2s;
}

.car{
    width:350px;
    height:350px;
    display:grid;
    justify-content: center;
    grid-template-columns: auto;
    grid-gap:5px;
    letter-spacing: 1px;
    align-content: center;
    margin:0 auto;
    font-weight: bold;
    font-size: 20px;
}

.show_car{
    width:100%;
    display: grid;
    justify-content: center;
    grid-template-columns: auto;
}

.car a:hover{
    width:380px;
    height:380px;
    border:8px solid #afd3ff;
}


.area_show{
    height:10px;
}

.car span span{
    font-size: 17px;
    font-weight: normal;
}
.links{
    width:100px;
    margin: 0 auto;
    display: grid;
}

.links ul{
    font-size: 20px;
    list-style-type: none;
    display:grid;
    grid-template-columns: auto auto auto auto auto;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 10px;
}

h3{
    list-style-type: none;
}

.car_image{
    width:100%;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto ;
    align-content: center;
    grid-gap: 10px;
    justify-content: center;
}

.img_profile_car{
    margin: 0 auto;
}

.img_profile_car img{
    width:100px;
    height:100px;
}

.all_brand{
    width:200px;
    margin: 0 auto;
}

.delete_brand {
    width:200px;
    border: 2px solid lightblue;
    border-radius: 10%;
    display: grid;
    justify-content: center;
}

.delete_brand button{
    width:200px;
    height:30px;
    border:none;
    border-bottom: 2px solid lightblue;
    border-radius: 10%;
    transition: 0.5s;
    font-size: 22px;
    font-weight:bold;
    color:lightblue;
    letter-spacing:2px;
    background-color: white;
}

.delete_brand button:hover{
    cursor:pointer;
    letter-spacing:4px;
    font-size:22px;
    background-color: lightblue;
    color:white;
    border-radius: 1000px;
}

.delete_model{
    font-size: 25px;
}

.div_brand{
    width:100%;
    height:50px;
    margin:0 auto;
    font-size: 25px;
    text-align: center;
    border-bottom:2px solid lightblue;
}


.model_div{
    width:100%;
    height:35px;
    display: grid;
    grid-template-columns:80px 10px;
    justify-content:center;
    border-bottom:2px solid lightblue;
    border-radius: 25px;
    color: #89aab7;
    transition: 0.2s;

}

.model_div:hover{
    background-color: #a4cedc;
    color: white;
    cursor: pointer;
}

.model{
    width:100%;
    height:20px;
    font-size: 25px;
}

.age_user{
    width: 60%;
    text-align: center;
}

.users{
    width:380px;
    height:350px;
    margin:0 auto;
}

.delete_user{
    width:65%;
    height:40px;
    display: grid;
    align-content: center;
    justify-content: center;
    background-color: #496684;
    color:white;
    font-weight:bold;
    font-size: 25px;
    border-radius: 5px;
    transition: 0.3s;
}

.delete_user:hover{
    color:#496684;
    background-color: #d8e7d8;
    cursor: pointer;
}

.car1{
    width:450px;
    height:450px;
    border-radius: 10%;
    margin: 0 auto;
    display: grid;
    grid-auto-columns: auto;
    grid-gap: 10px;
    align-content: center;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
    color: rgba(30, 30, 30, 0.97);
    border-top:4px solid lightblue;
    border-bottom:4px solid lightblue;
}

.car_ajax{
    width:500px;
    height:600px;
    margin: 0 auto;
    border-top:2px solid lightblue;
    border-bottom:2px solid lightblue;
    border-radius: 10%;
    display: grid;
    grid-template-columns:auto ;
    align-content: center;
    justify-content: center;
    grid-gap: 10px;
}

.car_ajax select{
    width:350px;
    height:40px;
    font-size: 20px;
    color: rgba(88, 40, 35, 0.84);
    border:none;
    border-bottom:2px solid lightblue;
    border-top:2px solid lightblue;
    border-radius: 10px;
}

.form_update{
    width:450px;
    height:400px;
}

.car1 span span{
    font-weight: normal;
    font-size: 17px;
}

.button_create_ajax{
    width:350px;
    height:40px;
    border:none;
    background-color: #4e858d;
    transition: 0.4s;
    font-size: 20px;
    font-weight:bold;
    color:white;
    letter-spacing:2px;
}

.button_create_ajax:hover {
    background-color: #c1d6dd;
    color: #9b9b9b;
    cursor: pointer;
    letter-spacing: 4px;
    font-size: 22px;
}

.brand_car{
    width:350px;
    height:55px;
    margin: 0 auto;
}

.brand_search{
    width:350px;
    height:55px;
    font-size: 25px;
    border: 5px solid whitesmoke;
    outline: none;
}

.href_show{
    cursor: pointer;
}

.image{
    cursor: pointer;
}

.remove_image{
    cursor: pointer;
}